@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add any global styles here if needed */
body {
    background-color: theme('colors.bg.dark');
    color: theme('colors.text.DEFAULT');
    @apply antialiased;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: theme('colors.bg.dark');
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: theme('colors.gray.700');
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: theme('colors.gray.600');
}
